# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os monitores
- Divirta-se :)

#### 1. Carregue os dados da tarefa anterior

In [2]:
# Importação dos Pacotes.

from pandas_datareader import data as web
import yfinance as yfin

import plotly.express as px
from plotly import graph_objects

import pandas as pd
import numpy as np

# Versões dos Pacotes.

%reload_ext watermark
%watermark --iversions --python

Python implementation: CPython
Python version       : 3.10.12
IPython version      : 8.12.0

numpy            : 1.25.1
pandas_datareader: 0.10.0
yfinance         : 0.2.31
plotly           : 5.15.0
pandas           : 2.0.3

In [6]:
# Coletando Dados das Ações desejadas através do Yahoo Finance.

yfin.pdr_override()

ativos = ['TSLA', 'AAPL', 'AMZN']
dt_ini = '2021-01-01'

df = web.get_data_yahoo(ativos, dt_ini)

df.head()

[*********************100%%**********************]  3 of 3 completed

             Adj Close                               Close              \
                  AAPL        AMZN        TSLA        AAPL        AMZN
Date
2021-01-04  127.331680  159.331497  243.256668  129.410004  159.331497
2021-01-05  128.905991  160.925507  245.036667  131.009995  160.925507
2021-01-06  124.566818  156.919006  251.993332  126.599998  156.919006
2021-01-07  128.817429  158.108002  272.013336  130.919998  158.108002
2021-01-08  129.929291  159.134995  293.339996  132.050003  159.134995

                              High                                 Low  \
                  TSLA        AAPL        AMZN        TSLA        AAPL
Date
2021-01-04  243.256668  133.610001  163.600006  248.163330  126.760002
2021-01-05  245.036667  131.740005  161.169006  246.946671  128.429993
2021-01-06  251.993332  131.050003  159.875504  258.000000  126.379997
2021-01-07  272.013336  131.630005  160.427002  272.329987  127.860001
2021-01-08  293.339996  132.630005  159.531998  294.829987  130.229996

                                          Open                          \
                  AMZN        TSLA        AAPL        AMZN        TSLA
Date
2021-01-04  157.201004  239.063339  133.520004  163.500000  239.820007
2021-01-05  158.253006  239.733337  128.889999  158.300507  241.220001
2021-01-06  156.557999  249.699997  127.720001  157.324005  252.830002
2021-01-07  157.750000  258.399994  128.360001  157.850006  259.209991
2021-01-08  157.110001  279.463318  132.429993  159.000000  285.333344

                 Volume
                   AAPL      AMZN         TSLA
Date
2021-01-04  143301900.0  88228000  145914600.0
2021-01-05   97664900.0  53110000   96735600.0
2021-01-06  155088000.0  87896000  134100000.0
2021-01-07  109578200.0  70290000  154496700.0
2021-01-08  105158200.0  70754000  225166500.0

In [24]:
# Utilizando .stack() para empilhar os dados, e deixar pronto para o gráfico.

fechamento_vertical = df.stack().reset_index()
fechamento_vertical.columns = ['Data', 'Ativo', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']

fechamento_vertical.head()

,Data,Ativo,Adj Close,Close,High,Low,Open,Volume
0,2021-01-04,AAPL,127.331680,129.410004,133.610001,126.760002,133.520004,143301900.0
1,2021-01-04,AMZN,159.331497,159.331497,163.600006,157.201004,163.500000,88228000.0
2,2021-01-04,TSLA,243.256668,243.256668,248.163330,239.063339,239.820007,145914600.0
3,2021-01-05,AAPL,128.905991,131.009995,131.740005,128.429993,128.889999,97664900.0
4,2021-01-05,AMZN,160.925507,160.925507,161.169006,158.253006,158.300507,53110000.0

#### 2. Média móvel

1. Faça uma média móvel  em 90 dias dos valores de fechamento ajustados dos ativos que você escolheu
2. Utilizando a fução ```rolling()```, calcule o desvio pardão desses ativos ao longo do tempo, utilizando a mesma janela móvel do item acima
2. Monte um gráfico de linhas para as médias móveis dos ativos da sua base
4. Monte um gráfico de linhas para os desvios padrão em janela móvel
5. Compare os dois gráficos que você fez com o da tarefa anterior. Veja se eles apontam conclusões semelhantes quanto aos períodos de maior volatilidade (variação) dos ativos.

In [22]:
df['Adj Close'].rolling(90).mean()

                  AAPL        AMZN        TSLA
Date
2021-01-04         NaN         NaN         NaN
2021-01-05         NaN         NaN         NaN
2021-01-06         NaN         NaN         NaN
2021-01-07         NaN         NaN         NaN
2021-01-08         NaN         NaN         NaN
...                ...         ...         ...
2023-10-10  182.894486  131.841889  254.963000
2023-10-11  182.884420  131.926112  255.507666
2023-10-12  182.899667  132.004223  255.966111
2023-10-13  182.898352  132.039556  256.297333
2023-10-16         NaN  132.155223         NaN

[701 rows x 3 columns]

#### 3. Gráfico de *candlestick*
1. Selecione o período dos últimos 60 dias (corridos) para um dos ativos da sua base
2. Monte um gráfico de *candlestick* para esses dados.